.neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Neucha", cursive;
    background-color: #C5D6A1;
    overflow: hidden;
}

.titre {
    font-size: 50px;
    text-align: center;
}

.sous-titre {
  font-size:75px;
  text-align: center;
}

.camescope {
  position: fixed;
  top: 300px;          
  right: 0;       
  height: 100vh; 
  transition: transform 0.3 ease;
  z-index: 1; 
}

.camescope:hover {
  transform: scale(1.05);
}

.container {
  position: relative;
}

.theodora {
  transition: transform 0.3s ease;
    position: absolute;
  top: 0px;
  height: 100vh;
}

.theodora:hover {
  transform: scale(1.05);  
  
}

.mandyspie {
  position: absolute;
  top: 0px;
  left: 350px;
  height: 100vh;
  transition: transform 0.3s ease; 
}

.mandyspie:hover {
  transform: scale(1.05)
}

.jade {
  position: absolute;
  top: 0px;
  left: 700px;
  height: 100vh;
  transition: transform 0.3s ease; 
}

.jade:hover {
  transform: scale(1.05)
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
}
