.neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Neucha", cursive;
    background-color: #C5D6A1;
    overflow: hidden;
}

.titre {
    font-size: 50px;
    text-align: center;
}

.sous-titre {
  font-size:75px;
  text-align: center;
}

.camescope {
  position: fixed;
  top: 250px;          
  right: 0;       
  height: 100vh; 
  transition: transform 0.3 ease; 
}

.camescope:hover {
  transform: scale(1.05);
}

.container {
  position: relative;
}

.theodora {
  transition: transform 0.3s ease;  
}

.theodora:hover {
  transform: scale(1.05);  
}

.mandyspie {
  position: absolute;
  top: 0px;
  right: 400px;
  height: 100vh;
  transition: transform 0.3s ease; 
}

.mandyspie:hover {
  transform: scale(1.05)
}

.jade {
  position: absolute;
  top: 0px;
  right: 135px;
  height: 100vh;
  transition: transform 0.3s ease; 
}

.jade:hover {
  transform: scale(1.05)
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cassette {
  position: relative;
  top: -340px;
  right: -10px;
  height: 100vh;
}

.cassette2 {
  position: absolute;
  top: 15px;
  right: 30px;
  height: 100vh;
}

.noeud {
  position: absolute;
  top: 300px;
  right: 370px;
  height: 100vh;
}