.neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Neucha", cursive;
    background-color: #C5D6A1;
    overflow: hidden;
}

.titre {
    font-size: 50px;
    text-align: center;
}

.sous-titre {
  font-size:75px;
  text-align: center;
}

.image {
    display:flex;
    flex-direction: row;
}

.camescope {
  position: fixed;
  top: 300px;          
  right: 0;       
  height: 100vh; 
  transition: transform 0.3 ease;
  z-index: 1; 
}

.camescope:hover {
  transform: scale(1.05);
}