.neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Neucha", cursive;
    background-color: #C5D6A1;
    overflow: hidden;
}

.titre {
    font-size: 50px;
    text-align: center;
}

.sous-titre {
  font-size:75px;
  text-align: center;
}

.musique-player {
    text-align: center;
}